* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #f1f2f6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear {
    zoom: 1;
}

.clear:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}